*{
    margin:0;
    pad: 0;
}

.task{
    width:300px;
    margin:auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap:10px;
    padding: 10px;
    padding-left: 5%;
    color:rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
  
}

.container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    background-image: url("images/High_resolution_wallpaper_background_ID_77701357118.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

header{
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    border: none;

}
button:hover{
    opacity: 0.85;
}
.checkmark{
    background-color: rgb(238, 94, 94);
}


.todo{
    width:230px;
    text-align: center;
}

input{
    border:none;
    
}

.add_btn{
    background-color: white;
    color:crimson
    
}

h1{
    margin-bottom: 10px;
}